body{
    background-color:azure;
}
#content{
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

.navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    display: flex;
    gap: 10%;
    background-color: blue;
  
}
.navbar a{
    color: aliceblue;
  }


@media screen and (max-width: 300px) {
    .navbar{
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 5px;
        display: flex;
    
        background-color:blue;
        color:white;
    } 



  }

  .navbar{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;

    background-color:blue ;
    color:whitesmoke;
}

@media screen and (min-width: 375px) and(max-width:768px){

    .navbar{
        list-style-type: none;
        margin: 0;
        padding: 5px;
        display: flex;
    
        background-color: blue;
        color:whitesmoke;
    }
    


}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;

    background-color: blue;
    color:whitesmoke;
}