#mentorsimage{
   
   
}
.navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    gap: 10%;
    background-color: blue;
    color: white;
    font-size: 24px;
    text-decoration: none;
}
#details{
    font-size: x-large;
    margin-top: 5%;

    
    /* text-align: center; */
    
    
}
#mentor{
    text-align: center;

    /* margin-left: 20%; */
}
body{
    background-color:antiquewhite;
  }

.navbar a{
    color: aliceblue;
    text-decoration: none;
  }



  #footer{
    display: flex;
    gap: 20%;

    font-size: large;
    background-color: black;
    color: white;
  }
  #product{
    margin-left: 10%;
  }



@media screen and (min-width: 375px) and(max-width:667px){

  #footer{
    display: flex;
    flex-wrap: wrap;


    font-size: large;
    background-color: black;
    color: white;
  }
  .navbar{
    color: white;
    list-style-type: none;
    /* margin: 0;
    padding: 5px; */
    display: flex;
    flex-wrap: wrap;
    
    background-color: blue;
    color: white;
    font-size: 24px;
    text-decoration: none;
  }



  
}

#footer{
  display: flex;
  flex-wrap: wrap;


  font-size: smaller;
  background-color: black;
  color: white;
}
.navbar{
  /* color: white;
  list-style-type: none;
  margin: 0; */
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;

  background-color: blue;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

 
  
 






