#todo-page{
  background-color: burlywood;
  width: 40%;
  padding-left: 20px;
  margin-left: 20%;
  padding-top: 30px;
  padding-left: 70px;
  margin-left: 20%;
  height: 915px;
}
.todo{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  color: black;
  /* padding-left: 280px; */
  text-align: center;
}

.header{
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}

.navbar{
  color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    gap: 10%;
    background-color: blue;
    
    font-size: 24px;
}
.task{
  font-size: 25px;
  margin-left: 10%;
}
.your-task{
  border-radius: 15px;
  height: 45px;
  width: 440px;
  padding-left: 20px;
}
a{
  text-decoration: none;
  color:black;
}
.checkbox{
  width: 35px;
  height: 40px;
  padding-bottom: 20px;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  padding-left: 20%;
}

*/
#field{
  padding-left: 100px;
  height: 40px;
  margin-bottom: 5%;
  padding-bottom: 70px;
}
.input-spaces{
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.navbar a{
  color: aliceblue;
}

body{
  background-color:antiquewhite;
}

#footer{
  display: flex;
  gap: 20%;

  font-size: x-large;
  background-color: black;
  color: white;
  
}
#PRODUCT{
  margin-left: 5%;
}
#nyj{
  text-align: center;
  
}
#input{
  width: 150px;
}


@media screen and (min-width: 375px) and(max-width:667px){

  .navbar{
    color: white;
      list-style-type: none;
      margin: 0;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      
      background-color: blue;
      
      font-size: 24px;
  }
  #footer{
    display: flex;
    flex-wrap: wrap-reverse;
  
    font-size: x-large;
    background-color: black;
    color: white;
    
  }

}



.navbar{
  color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: blue;
    
    font-size: 24px;
}

#footer{
  display: flex;
  flex-wrap: wrap-reverse;

  font-size: x-large;
  background-color: black;
  color: white;
  
}










