#todo-page{
  background-color: burlywood;
  width: 40%;
  padding-left: 20px;
  margin-left: 20%;
  padding-top: 30px;
  padding-left: 70px;
  margin-left: 20%;
  height: 915px;
}
.todo{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  color: black;
  /* padding-left: 280px; */
  text-align: center;
}

.header{
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}

.navbar{
  color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    gap: 10%;
    background-color: blue;
    
    font-size: 24px;
}
.task{
  font-size: 25px;
  margin-left: 10%;
}
.your-task{
  border-radius: 15px;
  height: 45px;
  width: 440px;
  padding-left: 20px;
}
a{
  text-decoration: none;
  color:black;
}
.checkbox{
  width: 35px;
  height: 40px;
  padding-bottom: 20px;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  margin-right: 20%;
  /* padding-left: 10%; */
}

*/
#field{
  padding-left: 100px;
  height: 40px;
  margin-bottom: 5%;
  padding-bottom: 70px;
}
.input-spaces{
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.navbar a{
  color: aliceblue;
}

body{
  background-color:antiquewhite;
}

#footer{
 
  
}
#PRODUCT{
  margin-left: 5%;
}
#nyj{
  text-align: center;
  
}
#input{
  width: 150px;
}
#view{
  display: flex;
  margin-left: 40%;
  gap: 5%;

}
#view button{
  width: 150px;
  height: 60px;
}
#task{
  margin-left: 40%;
}
.inputs{
  display: flex;
  gap: 5%;
}
#inputs1{
  display: flex;
  gap: 5%;
}
#inputs2{
  display: flex;
  gap: 5%;
}

#inputs3{
  display: flex;
  gap: 5%;
}
#footer{

  display: flex;
  background-color: black;
  color: white;
  margin-top: 10%;
  gap: 15%;
  
}



@media only screen and (min-width:200px) and ( max-width: 400px){

 
  .navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1%;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar a{
  color: aliceblue;
  text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  
}


}
.navbar{
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  background-color: blue;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.navbar a{
color: aliceblue;
text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}




@media only screen and (min-width:400px) and ( max-width: 600px){
  .navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 5%;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar a{
  color: aliceblue;
  text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  
} 
}

@media only screen and (min-width:600px) and ( max-width: 800px){
  .navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 5%;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar a{
  color: aliceblue;
  text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  
} 
}


@media only screen and (min-width:800px) and ( max-width: 1000px){
  .navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 5%;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar a{
  color: aliceblue;
  text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  
} 
}

@media only screen and (min-width:1000px) and ( max-width: 1200px){
  .navbar{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 5%;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar a{
  color: aliceblue;
  text-decoration: none;
}
.inputs{
  display: flex;
  flex-wrap: wrap;
  
} 
}









